.body {
	font-family: Poppins;
}


.rrss{
	width: 1rem;
}

.girl {
	height: 70vh;
	z-index: 1;
	
}

.homePage {
	
	display: flex;
	

}

.girlContainer{
	height:100vh;
	display: flex;
	align-items: flex-end;
}

.textContainer{
	height:100vh;
	display: flex;
	align-items: center;
}
