/*Reset ul*/
ul {
	list-style: none;
}
body {
		margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Media Queries para la imagen de la chica en la HomePage */

@media (min-width: 1536px) {
	.girl {
		height: 76vh;
		z-index: 1;
	}}

@media (max-width: 1535px) {
	.girl {
		height: 66vh;
		z-index: 1;
	}}

/* Tama単o imagenes de RRSS en el Footer */
.rrss{
	width: 1rem;
}

/* Tama単o logo de la NavBar */


.logo{
	width: 3rem;
}

/* Media Queries para la imagen que aparece en Discovery */

@media (min-width: 601px) {
	.imgDiscover{
		width: 24rem;
	}
	}


@media (max-width: 600px) {
	.imgDiscover{
		width: 14rem;
	}
	}



/* Overflow para los circulos de fondo */

.homePageGeneralDiv{
	overflow: hidden;
	position: relative;
}


.Joinout{
	overflow: hidden;
	position: relative;
}

/* Tama単o imagenes que hay en la lista de Discover */

.logosDiscover {
	width: 2.6rem;
}

/* Tama単o apartado Join */

/* Media Queries para la imagen que aparece en Discovery */

@media (min-width: 601px) {
	.JoinBox{
		height:90vh;
	}
	}

@media (max-width: 600px) {
	.JoinBox{
		height:83vh;
	}
	}
