.body {
	font-family: Poppins;
}

ul {
	list-style: none;
}


.rrss{
	width: 1rem;
}

.girl {
	height: 70vh;
	z-index: 1;
	
}

.homePage, .discoverBox {
	
	display: flex;
	

}

.girlContainer{
	height:100vh;
	display: flex;
	align-items: flex-end;
}

.textContainer{
	height:100vh;
	display: flex;
	align-items: center;
}

.logoNavbar {
	display:flex;
	align-content: center;
	align-items: center;
}

.logo{
	width: 3rem;
}

.discoverBox {
	height:100vh;
	align-items: center ;
}


.imgDiscover{
	width: 16rem;
}

.logosDiscover {
	width: 2.6rem;
}