@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body {
    background-color: #2F303A;
    font-family: Poppins;
}

/* Ocultar barra de scroll */

*::-webkit-scrollbar { /* This is the magic bit for WebKit */ 
    display: none; }


